.content-stat {
  display: flex;
  flex-direction: column;
  /* Элементы будут идти друг под другом */
  align-items: center;
  /* Центрирует все вложенные блоки по горизонтали */
  width: 50%;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  padding: 100px 20px 20px 20px;
  max-width: 1100px;
  margin: 0 auto;
  /* Центрирует контейнер по горизонтали */
  text-align: center;
  /* Центрирует текст и изображение внутри */
  /* box-sizing: border-box; */
  background-color: #ffffff;
  color: #121415;
}

.content-stat h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.content-stat h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  font-weight: 700;
}

.content-stat p {
  font-size: 20px;
  text-align: left;
  font-family: arial;
  font-weight: 1 !important;
}

.content-stat hr {

  display: block;
  /* Гарантируем, что это блочный элемент */
  width: 100%;
  /* Линия должна растягиваться во всю ширину */
  height: 1px;
  /* Толщина линии */
  border: none;
  /* Убираем стандартную рамку */
  background-color: #000;
  /* Цвет линии */
  /* Отступы, чтобы линия не прилипала к тексту */

}

.content-stat li {
  text-align: left !important;
  font-size: 20px;

}


@media (max-width: 1010px) {

  .content-stat {
    width: 99%;
  }

  .content-stat h1 {
    font-size: 30px;
  }

  .content-stat p {
    font-size: 17px;
  }

  #artText {
    font-size: 20px !important;
    color: black;
  }

  .content-stat h2 {
    font-size: 30px;
  }
}