#content {
    background-color: rgba(240, 255, 255, 0.307);
    margin: 0 auto;
    padding: 100px 30px 30px 30px;
    text-align: center;
    border-radius: 50px;
    width: 80%;
    align-items: center;
    box-shadow: 0 10px 30px rgba(123, 123, 123, 0.559) ;
}
.info {
    display: flex;
}