.main-doc {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 1350px;
    margin: 90px auto 20px auto;
    width: 100%;
    padding: 0 20px;
    align-items: start;
    box-sizing: border-box;
}

.doc-card {
    /* background: var(--glass);
            backdrop-filter: blur(10px); */
    background-color: hsla(0, 0%, 100%, 0.668);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
    border: 0.1px solid rgb(225, 225, 225);
    margin-bottom: 20px;
}

.admin-zone {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.doc-btn {
    display: flex;
    padding: 11px;
     justify-content: space-between;
    border-radius: 30px;
    border: none;
    background-color: #d0d0d0;
    cursor: pointer;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
    font-size: 16px;
      text-align: left;  
          align-items: center; 
}

.doc-btn.active {
    background: #41cfff;
    color: white;
    border-color: #41cfff;
    box-shadow: 0 4px 15px rgba(65, 207, 255, 0.4),
        0 0 5px rgba(0, 255, 65, 0.2);
    /* Легкий отсвет зеленого */
    transform: translateY(-2px);

}