.news {


  width: 95%;
  padding: 15px;


}

.swiper-news {
  position: relative;
  width: 100%;
  height: 200px;
  /* Обязательно задай высоту */
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  /* Чтобы картинки не вылезали за скругление */
  border: 2px solid #9b9b9b;
}

/* Изменяем селектор, чтобы Swiper его подхватил или используй стандартный */
.swiper-slide {

  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.main-img {
  max-width: 45%;
  /* Картинка не больше половины блока */
  max-height: 100%;
  object-fit: contain;
}

.slide-text-overlay {
  position: absolute;
  bottom: 0;
  /* Прижимаем к низу */
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.492), transparent);
  /* Градиент, чтобы текст читался */
  color: #f5a600;
  box-sizing: border-box;
}

.slide-text-overlay h1 {
  
  font-size: 40px !important;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #ffac1d;

  background-color: rgba(250, 235, 215, 0);
  border-radius: 1000px;
}
.slide-text-overlay h2 {
  
  font-size: 20px !important;
  align-items: center;
  

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #e4d3d3;
  /* Твой фирменный неоновый цвет */
  background-color: rgba(220,208,193,0);
  border-radius: 1000px;
}
.swiper-button-prev {
  background-color: #e8e8e81d;
  padding: 10px;
  border-radius: 50%;

}
.swiper-button-prev:hover {
  background-color: #fff;
}
.swiper-button-next {
  background-color: #e8e8e81d;
  padding: 10px;
  border-radius: 50%;
}
.swiper-button-next:hover {
  background-color: #fff;
}
@media(max-width: 870px) {
  .slide-text-overlay h1 {
    font-size: 30px !important;
  }
  .swiper-news {
    height: 300px;
  }
}



@media(max-width: 800px) {
  .swiper {
    height: 300px;
    padding: 0px;


  }

  .content-slide-new {
    display: block;
    /* flex-direction: column; Элементы в колонку */
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    min-height: 90%;


  }

  .content-slide-two img {
    width: 130px;
  }

}