
.swiper {
    width: 90%;
    height: 500px;
    /* Установите нужную высоту */
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #9b9b9b;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.348);
    border-radius: 24px;
    padding: 15px !important;
    
    margin: 0px !important;

    
  
    
}

.content-slide-one,
.content-slide-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Распределяет элементы с отступом от краев */
   
    width: 90%;
    /* Занимает 90% ширины, оставляя 5% синей полосы по бокам */
    height: 80%;
    margin: 0 auto;
    /* Центрирует белый блок в синем слайде */
    
     padding: 37px 0px 0px 0px; /* Отступы только внутри слайда */
     box-sizing: border-box;
    /* Внутренний защитный отступ от краев белого блока */
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
}

.text-block {

    padding-right: 0px;
    /* Отступ справа от текста до картинки */
    text-align: center;
}

.text-block h1 {
    margin: 0 auto;
    font-size: 10px;
}

.main-img {
    max-width: 45%;
    /* Картинка не больше половины блока */
    max-height: 100%;
    object-fit: contain;
}

/* Специально для виджета погоды, чтобы не лип */
.weather-widget {
    width: 90%;
    overflow: hidden;
}

#vacation-timer {
    font-weight: bold;
    font-size: 40px;
    color: #0044ff;
    background-color: #31300e00;
    border-radius: 50px;
    padding: 0px;
    font-family: sans-serif;

}

#vacation-container {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Расстояние между картинкой и текстом */
    background-color: #fffb02;
    font-size: 60px !important;
    border: 2px solid #0077ff;
    padding: 0px;
    border-radius: 50px;
    margin: 0px 0px 0px 0px;
}

#vacation-icon {
    width: 28px;
    /* Размер иконки */

}

@media(max-width: 800px) {
    .swiper {
        height: 300px;
        padding: 0px;
      
        
    }

    .content-slide-one,
    .content-slide-two {
        display: block;
        /* flex-direction: column; Элементы в колонку */
        justify-content: center;
        text-align: center;
        height: auto;
        width: 100%;
        min-height: 90%;
        
    
    }

    .content-slide-two img {
        width: 130px;
    }

    .text-block {
        padding-right: 0px;
        margin:0 auto;
    }

    .main-img {
        max-width: 80%;
    }


    /* Специально для контейнера с таймером */
    #vacation-container {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;

        gap: 10px;
    }

    .text-block {
        flex: 1;
        /* Позволяет тексту занимать свободное место */
        max-width: 100%;
        width: 100%;
        /* Но не более половины слайда */
        text-align: center !important;
        /* Или center, если хотите по центру */
        padding: 0px;
        /* Дополнительный отступ, чтобы буквы не касались краев */
    }

    #vacation-timer {
        font-size: 20px !important;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        color: #2e3a7d;
    }
}