.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(0, 255, 0, 0.1); /* Тусклый зеленый фон */
  border-top: 2px solid #0f0; /* Яркий неоновый верх */
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite; /* Заставляем крутиться */
  vertical-align: middle;
  margin-left: 5px;
}

/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
